header {
    padding: 20px 0;
    background-color: aqua;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    font-size: 60px;
    color: blueviolet;
    display: inline-block;
    margin-right: 100px;
}
nav {
    display: inline-block;
}
li {
    display: inline-block;
    margin-right: 50px;
}
.logo, nav, li {
    vertical-align: middle;
}
li a {
    color: teal;
    font-size: 28px;
}
.s-1 {
    margin-top: 108px;
}
.mshobeli {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin: 10px;
    z-index: 10;
    border-radius: 12px;
}
.shvili {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: brown;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.s-2 {
    margin-bottom: 200px;
}
.wrapper {
    border: 1px dotted darkmagenta;
    display: inline-block;
    position: relative;
}
h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
    font-size: 23px;
}